{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-proposal-export-default-from",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-require-context-hook"]
    }
  }
}
